  /* General styling */
  html,
  body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Work Sans', sans-serif;
  }

  .sm-col-12 {
      width: 100%;
      height: auto
  }

  .sm-heading {
      font-weight: bold;
      font-size: 19px
  }

  .sm-content {
      font-size: 19px;
      line-height: 1.5
  }

  .sm-content-cover {
      padding: 20px;
  }

  /* Navbar Styling */
  .card {
      display: flex;
      min-width: 100%;
      min-height: 70px;
      overflow-x: auto;
      margin-top: 50vh;
      transform: translateY(-80%)
  }

  .card::-webkit-scrollbar {
      display: none;
  }

  .card--content {
      min-width: 200px;
  }

  /* Navbar animation */
  @keyframes sm-navbar-animate {
      0% {
          margin-top: 50vh;
          transform: translateY(-80%)
      }

      100% {
          margin-top: 20vh;
          transform: translateY(-50%);
      }
  }

  @keyframes sm-aboutUs-animate {
      0% {
          padding: 0px
      }

      100% {
          padding-left: 20vw;
      }
  }

  /* Logo styling and animation  */
  @keyframes sm-diagonal-logo {
      0% {
          width: auto;
          top: 10%;
          height: 45px;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
      }

      100% {
          height: 20px;
          width: auto;
          left: 4%;
          top: 4%;
          position: absolute;
          transform: translate(0);
      }
  }

  #sm-diag {
      width: auto;
      top: 10%;
      height: 38px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
  }

  /* Main styling */

  /* Navbar */
  .sm-nav-content {
      /* font-family: 'gilroy'; */
      padding-left: 10px;
      background: white;
      font-size: 20px;
      font-weight: bold;
      color: lightgray;
      cursor: pointer
  }

  /* Timeline */
  .sm-timeline-box {
      width: 50%;
      height: 200px;
      position: relative
  }

  .sm-timeline-circle {
      position: absolute;
      right: 0;
      transform: translate(50%, -50%);
      height: 40px;
      width: 40px;
      border-radius: 50%
  }

  .sm-timeline-time {}

  .sm-timeline-event {}

  .sm-time-event-cover {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
      text-align: center
  }

  /* Speakers */
  .sm-details-cover {
      width: 100%;
      height: 90px;
  }

  .sm-avatar {
      border: 2px solid black;
      transform: translateX(-50%);
      left: 50%;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      position: absolute;
  }

  .sm-speakers-name {
      margin-bottom: 5px;
      margin-top: 5px
  }

  .sm-speakers-details {
      margin-top: 5px;
  }

  .sm-avatar-cover {
      width: 100%;
      height: 90px;
  }

  .sm-speakers-btn {
      outline: none;
      border: 2px solid #FFC334;
      border-radius: 10px;
      color: white;
      font-size: 18px;
      font-weight: bolder;
      background: #FFC334;
      padding: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Sponsors */
  .sm-sponsors-btn {
      outline: none;
      border: 2px solid #FE524D;
      border-radius: 10px;
      color: white;
      font-size: 18px;
      font-weight: bolder;
      background: #FE524D;
      padding: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Contact Us */
  .sm-contact-us-details {}

  .sm-contact-us-number {}

  .sm-contact-us-cover {
      margin-top: 40px
  }

  /* Downloads */
  .sm-downloads-btn {
      outline: none;
      border: 2px solid #34AD6D;
      border-radius: 10px;
      color: white;
      font-size: 15px;
      font-weight: bolder;
      background: #34AD6D;
      padding: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .sm-downloads-head{

  }

  /* Animation init related css */

  #sm-about-us-top, 
  #sm-hackathon-top, 
  #sm-timeline-top, 
  #sm-speakers-top, 
  #sm-sponsors-top, 
  #sm-contact-us-top, 
  #sm-downloads-top,
  #sm-prev-events {
      display: none
  }